body{
  font-family: 'Jokerman', sans-serif;
  background-color:#B5FEFE;
  color: black;
  font-size: 1.2vw;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0px 0px;
}

h1{
  font-size: 8vw;
  padding: 2vh 1vh;
}
h2{
  font-size: 4vw;
  padding: 2vh 1vh;
}
h3{
  font-size: 3vw;
  padding: 1vh 0.5vh;
}
h4{
  font-size: 2.3vw;
  padding: 0.7vh 0.5vh;
}
h5{
  font-size: 1.4vw;
  padding: 0.7vh 0.2vh;
}
h6{
  font-size: 1.2vw;
  padding: 0.7vh 0.2vh;
}
p{
  font-size: 1.2vw;
}

header{
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

nav ul {
  list-style-type: none;
}

#main-title{
  padding: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #BCEDA7;
  border-radius: 15px;
}
#ads{
  justify-content: center;
}

#buttons-bar{
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

#page{
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  background-color: #BCEDA7;
  border-radius: 15px;
  font-family: 'Times New Roman', sans-serif;
}

#discover{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#game-trailer{
  width: 50vw;
  height: 50vh;
  border-radius: 15px;
}

#discord-widget{
  height: 50vh;
  border-radius: 15px;
}

#page p{
  margin-top: 0;
}

#download-frames-container1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
}

#download-frames-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
  /* display:none; */
}

.download-frame{
  background-color:#8792FC;
  width: 260px;
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

nav ul li {
  font-size: 2.5vw;
  background-color:#51E823;
  color: #4747F3;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-style: hidden;
  font-family: 'Jokerman', sans-serif;
}

nav ul li:hover{
  background-color: #309013;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}

nav ul li a {
  text-decoration: none;
}


select {
  font-size: 2.5vw;
  background-color:#51E823;
  color: #4747F3;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-style: hidden;
  font-family: 'Jokerman', sans-serif;
}

nav ul li select:hover{
  background-color: #309013;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.container { margin: 50px auto 40px auto; width: 600px auto ; text-align: center; }

#suggestions {
  margin-top: 35px;
}
#suggestions a {
  font-weight: 200;
  font-size: 14px;
  margin: 0 10px;
}
